

#quote1{font-family: 'Courgette', cursive; font-size:24px; font-weight: bold;background-color:#e6f0ff;}
#quote2{font-family: 'Courgette', cursive; font-size:24px; font-weight: bold;background-color:#cce0ff;}
#quote3{font-family: 'Courgette', cursive; font-size:24px; font-weight: bold;background-color:#b3d1ff;}
#quote4{font-family: 'Courgette', cursive; font-size:24px; font-weight: bold;background-color:#99c2ff;}
#quote5{font-family: 'Courgette', cursive; font-size:24px; font-weight: bold;background-color:#80b3ff;}

#selector{font-size:20px; font-weight:bold; background-color: grey;}
